doctype html
html
  head
    title= title
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='css/rzslider.min.css')
    link(rel='stylesheet', href='css/angularjs-color-picker.min.css')
    link(rel='stylesheet', href='css/style.css')
    script(src='js/atrament.min.js')

  body(ng-app='ballan')
    my-header
    block content
  script(src='js/jquery.min.js')
  script(src='js/tinycolor.js')
  script(src='/socket.io/socket.io.js')
  script(src='js/angular.js')
  script(src='js/socket.js')
  script(src='js/bootstrap.min.js')
  script(src='js/ballan.js')
  script(src='js/spell-data.js')
  script(src='js/angularjs-color-picker.min.js')
  script(src='js/rzslider.min.js')
