doctype html
html
  head
    title= title
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/bootstrap-theme.min.css')
  body(ng-app='ballan')
    my-header
    block content
  script(src='/socket.io/socket.io.js')
  script(src='js/angular.js')
  script(src='js/socket.js')
  script(src='js/jquery.min.js')
  script(src='js/bootstrap.min.js')
  script(src='js/atrament.min.js')
  script(src='js/ballan.js')