<div ng-show="admin" class="col-sm-6 ">
    <canvas class="sketcher-canvas" id="mySketcher" ng-mouseup="send()"></canvas>
    <div class="form-group">
        <button class="btn btn-default col-sm-1" ng-click="clear()">Clear</button>
        <button class="btn btn-default col-sm-1" ng-click="erase()" ng-hide="drawMode">Erase</button>
        <button class="btn btn-default col-sm-1" ng-click="draw()" ng-show="drawMode">Draw</button>
        <color-picker class="col-sm-1" ng-model="sketcherColor" color-picker-swatch-only="true" color-picker-pos="'top left'" color-picker-format="'hex'"></color-picker>
        <div class="col-sm-4">
            <input type="range" min="1" max="20" ng-model="sketcherWeight">
        </div>
        <div class="input-group col-sm-4">
            <input type="text" class="form-control" ng-model="saveAs" placeholder="Save As...">
            <span class="input-group-addon"> <a ng-click="save()">Save</a></span>
        </div>
    </div>
</div>
<div ng-hide="admin" class="col-sm-6">
    <img src="{{drawing}}">
</div>
<div class="col-sm-6">
    <character-sheet></character-sheet>
</div>